* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
img {
    display: block;
    max-width: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#ECEFFE, #CED6FB);
}
.hidden {
    display: none !important;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;      
  color: inherit;     
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
}

ul,
ol {
  list-style: none;  
  margin: 0;         
  padding: 0;        
}

li {
  margin: 0;
  padding: 0;
}
input {
  padding: 10px 14px;
  border-radius: 8px;      
  font: 16px/1.4 system-ui, sans-serif;
  outline: none;
  transition: 0.3s ease;   
  border: 1px solid red;
}
.is-disabled {
  opacity: .6;
  cursor: not-allowed;
  background-color: grey;
  color: #fff;
}
input:hover {
  border-color: #4f46e5;   
  box-shadow: 0 0 6px rgba(79,70,229,0.4); 
}

input:focus {
  border-color: #2563eb;   
  box-shadow: 0 0 8px rgba(37,99,235,0.5);
}

main {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}
.container {
    max-width: 148rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    padding: 0 2rem;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music {
    position: absolute;
    top: 2.4rem;
    right: 0;
}
.settings {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}
/* REGISTRATION PAGE */
.registrationPage {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: aquamarine;
    background: url('./images/game-background.webp') no-repeat;
    background-size: cover;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regForm {
    width: 25rem;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    margin: 0 auto;
}
.button {
    padding: .5rem 1rem;
    background-color: darkgoldenrod;
    color: white;
    transition: all .4s ease;
}
.regForm__btn.active {
    background-color: darkgoldenrod;
    color: white;
}
/* MAIN PAGE */
.mainPage {
    position: absolute;
    inset: 0;
    width: 100%;
    background: url('./images/secon-screen-bg.jpeg') no-repeat;
    background-size: cover;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PLAYER PAGE */
.playerPage {
    position: absolute;
    inset: 0;
    width: 100%;
    background: url('./images/playerPage-bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    padding-top: 4rem;
}
.avatar {
    display: flex;
    gap: 2rem;
}
.avatar__item {
    width: 20rem;
    height: 10rem;
}
.avatar__img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}
/* BEFOREFIGHT PAGE */
.beforeFightPage {
    position: absolute;
    inset: 0;
    width: 100%;
    background: url('./images/beforeFightPage.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    padding-top: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.battlePage {
    position: absolute;
    inset: 0;
    width: 100%;
    background: url('./images/battlePage-bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    padding-top: 4rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.battleFiled {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 2rem;
    padding: .5rem 0;
}
.battleFiled__hero-img {
    width: 15rem;
    height: auto;
    background-size: cover;
    background-position: center;
}
.user-name,
.enemy-name {
    margin: .8rem 0;
    font-size: 1.5rem;
}

.fight__wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
}
.start-fight {
    margin-left: 2rem;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    transition: all .5s ease;
    border-radius: 1rem;

}
.start-fight:hover {
    background-color: #000;
    color: #fff;
}
.logs__wrapper {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.logs__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    text-align: center;
}
.logs {
    width: 100%;
    padding: 1rem;
    height: 15rem;         
    overflow-y: auto; 

}
.logs li {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.settingsPage {
    position: absolute;
    inset: 0;
    width: 100%;
    background: url('./images/battlePage-bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    padding-top: 4rem; 
    display: flex;
    flex-direction: column;
}
.settings__title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
}
.settings__wrapper {
    background-color: aqua;
    width: 60rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.settings__option {
    display: flex;
    align-items: center;
    gap: 2rem;
}



/* SLIDER STYLES */

.slider {
    position: relative;
    width: 80%;
    max-width: 50rem;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.slider__wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 40rem;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    background-color: grey;
}

.slide {
    width: 20rem;
    height: 40rem;
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 2rem;
    background-color: grey;
}

.slide img {
  background-size: cover;
  width: 50%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}
.avatar_desc {
    font-size: 1.3rem;
    color: #000;
    padding-top: 2rem;
    padding-right: 1rem;
}
.hero-btn {
    margin-top: 1rem;
    background-color: #000;
    color: white;
    border: .1rem solid #4c3c1d;
    border-radius: .2rem;
}
.hero-btn:hover {
    color: black;
    background-color: white;
    border: .1rem solid yellow;

}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__text {
    font-size: 40px;
    color: brown;
}
